/* header ra footer ko css style.css bata leko cha */


.container{
    display:flex;
    justify-content:space-between;
    padding:40px 60px;
    gap:60px;
}

/* LEFT SIDE */

.left{
    width:45%;
}

.left-box{
    height:260px;
    background:#f4bd56;
    border-radius:10px;
    margin-bottom:20px;
}

.left p{
    font-size:14px;
    line-height:1.6;
    color:#444;
}

/* RIGHT SIDE */

.right{
    width:50%;
}

.form-card{
    background:#fff;
    border:1px solid #aaa;
    border-radius:10px;
    padding:35px;
}

/* Login / Signup Toggle */

.toggle{
    display:flex;
    background:#f4bd56;
    border-radius:15px;
    overflow:hidden;
    margin-bottom:30px;
}

.toggle button{
    flex:1;
    padding:14px;
    border:none;
    cursor:pointer;
    font-size:14px;
}

.toggle .active{
    background:#222;
    color:#fff;
}

/* Inputs */

.form-group{
    margin-bottom:20px;
}

.form-group label{
    display:block;
    margin-bottom:6px;
    font-size:14px;
}

.form-group input{
    width:100%;
    padding:12px;
    border-radius:8px;
    border:1px solid #999;
    outline:none;
}

/* Remember + Forgot */

.extra{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:25px;
    font-size:14px;
}

.extra a{
    color:#222;
}

/* Submit Button */

.submit-btn{
    width:100%;
    padding:14px;
    background:#f4bd56;
    border:none;
    border-radius:5px;
    font-weight:600;
    cursor:pointer;
}
.error{
    color:red;
    font-size:12px;
    margin-top:4px;
    display:block;
}

/* ================= FOOTER ================= */

