@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

:root{
  --primary-color : #FFC857;
  --black-color :#222 ;
  
}
*{
   font-family: "Raleway", sans-serif;
}